.content {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 11.4rem /* 11.4rem é o tamanho do HEADER */ 1fr /* 1fr = Uma única fração */;

    grid-template-areas: /* Definindo as áreas do GRID */
    'header header'
    'left right';
}

header {
    grid-area: header;
}

#bg {
    grid-area: left;

    background: url('/assets/home-bg-img.svg') no-repeat top/contain;
    background-position: -13rem; /* Colocando a BG para esquerda */
}

/*------------*/

main {
    margin-top: -15rem;
    grid-area: right;

    display: flex;
    align-items: center;
}

main .container {
    width: min(36.3rem, 100%);
}

main h2 {
    font-family: 'Poppins', sans-serif;
    font-size: clam(20px, 5vh, 2.8rem);

    color: var(--black);
    margin-bottom: 2.4rem;
    line-height: 3.5rem;
}

/*------------*/

input {
    padding: 0 1.6rem;
    border: .2rem solid var(--grey-blue);
}

input:focus {
    outline: none;
}

input, button, .button{
    width: 100%;
    margin-bottom: 1.8rem;
}

/*------------*/
/* Separador + Linhas */
.separator {
    margin: 4rem 0;

    display: flex;
    align-items: center; /* Centralizando verticalmente as linhas e o "OU" */
}

.separator div:nth-child(2) { 
    margin: 0 1.5rem; /* Margin aos lados do "OU" */

    font-family: 'Poppins';
    font-weight: 400;
    color: var(--grey-blue);
    line-height: 0;
}

.separator div:nth-child(1),
.separator div:nth-child(3) {
    width: 100%;
    height: 1px;
    background-color: var(--grey-blue);
}
/*------------*/

/*------------*/
/* Bolinhas */
.ball {
    width: 21.2rem;
    height: 21.2rem;
    position: fixed;

    background-color: var(--blue);
    opacity: 0.2;
    clip-path: circle(50% at 50% 50%);
}

.ball.top {
    width: 63.3rem;
    height: 63.3rem;
    top: -38rem;
    right: -38rem;
}

.ball.bottom {
    bottom: -15rem;
    right: 5.6rem;
}
/*------------*/

/*------------*/
/* Responsivo */
@media (max-width: 990px) {
    #bg {
    display: hidden;
    }
    .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    }
    .ball.top {
        top: -45rem;
        right: -45rem;
    }
    .ball.bottom {
        bottom: -10rem;
        right: 80%;
    }
}
/*------------*/